.button
  background-color: $white
  border-radius: 12px
  border: none
  font-size: 24px
  padding: 12px 24px
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center
  color: $dark
  box-sizing: content-box
  transition: all .2s ease-in-out

  &:hover
    cursor: pointer
    filter: brightness(80%)

.button_danger
  color: $white
  background-color: $red

.button_dark
  color: $white
  background-color: $dark

.button_small
  font-size: 16px
  padding: 8px 16px
  border-radius: 8px
