<div class="modal__background">
  <div class="modal">
    <div class="modal__card">
      <div class="modal__card_header">
        <div class="modal__card_title">{{title}}</div>
        {{{CloseButton onClick=closeModal}}}
      </div>
      <slot></slot>
    </div>
  </div>
</div>
