<div class="input_box">
  {{{Input className="input_box__input"
           type=type
           name=name
           oldValue=oldValue
           regex=regex
           minLength=minLength
           maxLength=maxLength
           required=true
           ref="input"
  }}}
  <span class="input__placeholder">{{ placeholder }}</span>
  {{{InputError ref="error" }}}
</div>
