<div class="input_box">
  {{{Input className='input_box__input'
           type=type
           name=name
           value=value
           title=placeholder
           placeholder=placeholder
           regex=regex
           minLength=minLength
           maxLength=maxLength
           required=true}}}
  <span class="input__placeholder">{{ placeholder }}</span>
  {{{InputError error=error }}}
</div>
