<form action="/messenger" class="container container_center">
  {{#Card}}
    {{#CardHeader}}
      <span>Вход</span>
    {{/CardHeader}}
    {{#CardBody}}
      {{{InputBox type="text"
                  name="login"
                  placeholder="Логин"
                  minLength=3
                  maxLength=30
                  regex="/^(?=.*[a-z]+)(?=.*[\d]{0,})[a-z0-9\-_]+$/i"
                  error="От 3 до 20 символов, латиница, без спец символов"
                  ref="login"
      }}}
      {{{InputBox type="password"
                  name="password"
                  placeholder="Пароль"
                  minLength=8
                  maxLength=40
                  regex="^(?=\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9]).+\S$"
                  error="От 8 до 40 символов, хотя бы одна заглавная буква и цифра"
      }}}
    {{/CardBody}}
    {{#CardFooter}}
      {{#Button onClick=../onClick}}Вход{{/Button}}
      {{#Link href="/registration"}}Зарегистрироваться{{/Link}}
    {{/CardFooter}}
  {{/Card}}
</form>
