<div class="container container_center">
  <form action="/chats">
    {{#> card title="Вход"}}
      {{#*inline "body"}}
        {{>input name="login" placeholder="Логин" }}
        {{>input name="password" type="password" placeholder="Пароль"}}
      {{/inline}}
      {{#*inline "footer"}}
        {{>button label="Вход"}}
        <a class="link" href="registration">Зарегистрироваться</a>
      {{/inline}}
    {{/card}}
  </form>
</div>
