<div class="container container_center">
  {{#> card title="Регистрация"}}
    {{#*inline "body"}}
      {{>input name="login" placeholder="Логин"}}
      {{>input name="first_name" placeholder="Имя"}}
      {{>input name="last_name" placeholder="Фамилия"}}
      {{>input name="email" placeholder="Почта"}}
      {{>input name="phone" placeholder="Телефон"}}
      {{>input name="password" type="password" placeholder="Пароль"}}
      {{>input name="password_confirm" type="password" placeholder="Пароль"}}
    {{/inline}}
    {{#*inline "footer"}}
      {{>button label="Регистрация"}}
      <a class="link" href="login">У меня есть аккаунт</a>
    {{/inline}}
  {{/card}}
</div>