@import "Main/main"
@import "Error/error"

.main
  background-color: $lavander
  height: 100vh

.container
  display: flex
  overflow: auto
  height: inherit

.container_center
  flex-direction: column
  align-items: center
  padding: 5vh 0
