<div class="chat">
  <div class="chat__header">
    <div class="chat__info">
      <div class="chat-item__avatar"></div>
      <span>Chat name</span>
    </div>
    <img class="chat__icon" src="{{icons.chat_settings}}" alt="">
  </div>
  <div class="chat__body">
    {{#each messages}}
      {{>message message=this}}
    {{/each}}
  </div>
  <div class="chat__footer">
    <img class="icon__clip chat__icon" src="{{icons.clip}}" alt="">
    <textarea name="message" rows="1" class="chat__message" title="Напишите сообщение" placeholder="Сообщение"></textarea>
    <img class="chat__icon" src="{{icons.send}}" alt="">
  </div>
</div>