<div class="container container_center">
  <div class="error-box">
    <div class="error-box__side error-box__side_left">
      <span class="error__code">{{ code }}</span>
    </div>
    <div class="error-box__side error-box__side_right">
      <div class="error-box__message">
        <span class="error-message">{{ message }}</span>
        <hr class="delimiter delimiter_red">
        {{#unless withoutReturn }}
          {{#Link theme="dark" href="/" className="error-box__option"}}
            &#11176;
            Вернуться на главную страницу
          {{/Link}}
        {{/unless}}
      </div>
    </div>
  </div>
</div>
